<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.mlcss.servlet.user.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>com.mlcss.servlet.user.UserRegister</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>MessageSend4Course</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageSend4Course</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageGet4Course</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageGet4Course</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageSend4Friend</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageSend4Friend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageSend4FriendGroup</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageSend4FriendGroup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageGet4Friend</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageGet4Friend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageGet4FriendGroup</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageGet4FriendGroup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageSendCourseNotice</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageSendCourseNotice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageGetCourseNotice</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageGetCourseNotice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageGetSystem</servlet-name>
    <servlet-class>com.mlcss.servlet.message.MessageGetSystem</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoteAdd</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.NoteAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoteDel</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.NoteDel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoteUpdate</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.NoteUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoteSelect</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.NoteSelect</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemindAdd</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.RemindAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemindDel</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.RemindDel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemindUpdate</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.RemindUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemindSelect</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.RemindSelect</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoteShare</servlet-name>
    <servlet-class>com.mlcss.servlet.assistant.NoteShare</servlet-class>
  </servlet>


















	
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageSend4Course</servlet-name>
    <url-pattern>/service/MessageSend4Course</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageGet4Course</servlet-name>
    <url-pattern>/service/MessageGet4Course</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageSend4Friend</servlet-name>
    <url-pattern>/service/MessageSend4Friend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageSend4FriendGroup</servlet-name>
    <url-pattern>/service/MessageSend4FriendGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageGet4Friend</servlet-name>
    <url-pattern>/service/MessageGet4Friend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageGet4FriendGroup</servlet-name>
    <url-pattern>/service/MessageGet4FriendGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageSendCourseNotice</servlet-name>
    <url-pattern>/service/MessageSendCourseNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageGetCourseNotice</servlet-name>
    <url-pattern>/service/MessageGetCourseNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageGetSystem</servlet-name>
    <url-pattern>/service/MessageGetSystem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteAdd</servlet-name>
    <url-pattern>/service/NoteAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteDel</servlet-name>
    <url-pattern>/service/NoteDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteUpdate</servlet-name>
    <url-pattern>/service/NoteUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteSelect</servlet-name>
    <url-pattern>/service/NoteSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemindAdd</servlet-name>
    <url-pattern>/service/RemindAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemindDel</servlet-name>
    <url-pattern>/service/RemindDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemindUpdate</servlet-name>
    <url-pattern>/service/RemindUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemindSelect</servlet-name>
    <url-pattern>/service/RemindSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteShare</servlet-name>
    <url-pattern>/service/NoteShare</url-pattern>
  </servlet-mapping>
	
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.mlcss.servlet.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
<!-- 	<filter>
		<filter-name>CheckLoginFilter</filter-name>
		<filter-class>com.mlcss.servlet.filter.CheckLoginFilter</filter-class>
	</filter> -->


	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- 	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping> -->

</web-app>
